<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wrapperList>
    <realList>
        <x>80.0</x>
        <y>70.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>150.0</x>
        <y>540.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>510.0</x>
        <y>54.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>700.0</x>
        <y>404.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>860.0</x>
        <y>510.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>1150.0</x>
        <y>114.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>1200.0</x>
        <y>200.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
    <realList>
        <x>1400.0</x>
        <y>584.0</y>
        <w>84</w>
        <h>90</h>
        <xp>-1</xp>
        <r>1.0</r>
        <g>1.0</g>
        <b>1.0</b>
        <id>-1</id>
    </realList>
</wrapperList>
